{% extends 'layout.html' %}

{% block page_title %}
   아이디 중복검사
{% endblock %}

{% block header %}
  <h2>중복검사</h2>
{% endblock %}

{% block body %}
  <div id ="result">

      <h3 id="checked_id">{{checked_id}}</h3>
      <input type ="button" value="이 아이디로 사용" hidden="true" id="apply_button" onclick="apply_id()">
  </div></br></br>
  <form action="" method="post">
    {% csrf_token %}
    <input type="text" name="re_check_id">
    <input type ="submit" value="중복검사" >

  </form>
  <script>

    if({{checked}}){

      var result_tag = document.createElement("h3");
      var result_text = document.createTextNode("사용가능한 아이디 입니다");
      result_tag.appendChild(result_text);
      result_tag.setAttribute('style','color:blue');
      var element = document.getElementById("result");
      element.appendChild(result_tag);
      document.getElementById("apply_button").hidden=false;


    }
    else{

        var result_tag = document.createElement("h3");
        var result_text = document.createTextNode("이미 존재하는 아이디 입니다");
        result_tag.appendChild(result_text);
        result_tag.setAttribute('style','color:red');
        var element = document.getElementById("result");
        element.appendChild(result_tag);
        document.getElementById("apply_button").hidden=true;
    }

    function apply_id(){
      origin_win = window.opener;
      var final_id = document.getElementById("checked_id").innerText;
      origin_win.document.getElementById("id").value=final_id;
      origin_win.document.getElementById("id").readOnly = true;
      origin_win.document.getElementById("overlap_button").value="id변경";
      window.close();
    }

  </script>

{% endblock %}
