{% extends 'layout.html' %}
{% block header %}
    <div class="button">

      <a href="{%url 'logout_url'%}" class = "btn btn-danger btn-sm">logout</a>
    </div>
    <div id ="main_head">
      <div class= "title">
        <h1>Make you</h1>
      </div>
      <div class= "describe">
        <p>당신에 대해 아직 미숙한 사람들에게 당신을 가장 효과적이고 인상적이게 당신을 표현 할 수 있는 방법
        'make you'에서 당신만의 자기소개서를 완성해보세요!!
        </p>
      </div>
    </div>
{% endblock %}

{% block body %}

      <div class="button">
        <h5>환영합니다 {{username}}님</h5><br>
        <a href="{%url 'pre_view'%}" class = "btn btn-success btn-sm">go mine!!</a>
      </div>

{% endblock %}

{% block footer %}
  <footer>

    <p>관리자 - <strong>Sombody</strong>            전화번호  -  phonenumber</p>

    <address>주소 - 건대와 강남사이 어딘가</address>
    <p>copyright  by ©God_cha. all right reserved<p>
    <email>nsw9211@gamil.com</email>
  </footer>
{% endblock %}
