{% extends 'layout.html' %}

{% block page_title %}
    {{username}} 템플릿 선택
{% endblock %}

{% block header %}
    <h2>{{username}} - 템플릿 선택</h2>
{% endblock %}

{% block body %}
    <div id="templates">
    </div>

    <form action="" method="POST">
      {% csrf_token %}
        <div class="row">
          {% for template in templates %}
            <div class="col-xs-6 col-md-3">

              <a href='#' class ="thumbnail">
                <img src="http://localhost:8000{{template.template_image.url}}">
              </a>
              <br>
              <div id = "template_radio">
                <input type="radio" name ="template_num" value="{{template.order}}">
              </div>
            </div>
          {% endfor %}


        </div>
        <br>


        <br>
        <input type ="button" value="prev">
        <input type ="submit" value="pre-view">
    </form>
{% endblock %}
