{% extends 'layout.html' %}

{% block page_title %}
    {{username}} 템플릿 선택
{% endblock %}

{% block header %}
    <h2>{{username}} - 템플릿 선택</h2>
{% endblock %}

{% block body %}
    <div id="templates">
    </div>

    <form>
      {% for template in templates %}
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <a href='#' class ="thumbnail">
              <img src="http://localhost:8000/uploads{{template.template_image}}">
            </a>
          </div>
        </div>
        {% endfor %}
        {% for template in templates %}
          <input type="radio" name ="template_num" value="{{template.id}}"><br>
        {% endfor %}
        <input type ="button" value="prev">
        <input type ="submit" value="pre-view">
    </form>
{% endblock %}
